@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body, html {
  font-family: "Inter", sans-serif;
  margin-left: 0%;
  margin-top: 0%;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-weight: 500;
  color: #808191;
  background-color: #1f1d2b;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.sidebar {
  width: 200px;
  padding: 32px;
  transition: 0.3s width ease-in-out;
}
@media screen and (max-width: 1212px) {
  .sidebar {
    width: 30px;
    -webkit-border-end: 1px solid hsla(236, 7%, 54%, 0.25);
            border-inline-end: 1px solid hsla(236, 7%, 54%, 0.25);
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
.sidebar__logo-wrapper {
  display: block;
  margin: 0 0 2.8em;
  text-decoration: none;
}
.sidebar__logo {
  display: none;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
}
@media screen and (max-width: 1212px) {
  .sidebar__logo {
    display: flex;
  }
}
.sidebar__logo-text {
  display: block;
  margin: 0;
  font-size: 20px;
  color: #fff;
}
@media screen and (max-width: 1212px) {
  .sidebar__logo-text {
    display: none;
  }
}
.sidebar__title {
  margin-bottom: 24px;
  font-size: 12px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1212px) {
  .sidebar__title {
    display: none;
  }
}
.sidebar__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 2.4em;
  margin: 0 0 2.4em;
  gap: 20px;
  list-style-type: none;
}
.sidebar__menu::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #808191;
}
@media screen and (max-width: 600px) {
  .sidebar__menu {
    flex-direction: row;
  }
}
.sidebar__item:hover .sidebar__item-text,
.sidebar__item .is-active .sidebar__item-text {
  color: #fff;
}
.sidebar__item:hover .sidebar__svg-icon,
.sidebar__item .is-active .sidebar__svg-icon {
  color: #fff;
  background-color: #ff7551;
}
.sidebar__item:hover:nth-child(1) .sidebar__svg-icon,
.sidebar__item .is-active:nth-child(1) .sidebar__svg-icon {
  background-color: #ff7551;
}
.sidebar__item:hover:nth-child(2) .sidebar__svg-icon,
.sidebar__item .is-active:nth-child(2) .sidebar__svg-icon {
  background-color: #32a7e2;
}
.sidebar__item:hover:nth-child(3) .sidebar__svg-icon,
.sidebar__item .is-active:nth-child(3) .sidebar__svg-icon {
  background-color: #6c5ecf;
}
.sidebar__item:hover:nth-child(5) .sidebar__svg-icon,
.sidebar__item .is-active:nth-child(5) .sidebar__svg-icon {
  background-color: #32a7e2;
}
.sidebar__link {
  display: flex;
  align-items: center;
  color: #808191;
  text-decoration: none;
  gap: 8px;
}
.sidebar__item-text {
  display: block;
  font-size: inherit;
  color: inherit;
}
@media screen and (max-width: 1212px) {
  .sidebar__item-text {
    display: none;
  }
}
.sidebar__svg-icon {
  width: 14px;
  padding: 8px;
  background-color: #353340;
  border-radius: 10px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  gap: 16px;
}
@media screen and (max-width: 600px) {
  .topbar {
    padding: 32px 32px 16px;
  }
}
.topbar__search {
  display: flex;
  width: 100%;
  max-width: 450px;
  height: 34px;
}
.topbar__input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #353340;
  background-repeat: no-repeat;
  background-position: 96%;
  background-size: 14px;
  border: none;
  border-radius: 8px;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
}
.topbar__user-wrapper {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
}
.topbar__user {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.topbar__notif {
  position: relative;
  cursor: pointer;
}
.topbar__notif::after {
  position: absolute;
  top: 0;
  right: 3px;
  width: 5px;
  height: 5px;
  content: "";
  background-color: red;
  border: 2px solid #1f1d2b;
  border-radius: 50%;
}
.topbar__notif-svg {
  width: 20px;
}

.content {
  padding: 0 32px;
  margin-bottom: 24px;
  overflow: auto;
}
.content__video-heading {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0 0 20px;
  margin: 0;
  font-size: 32px;
  color: #fff;
  background: linear-gradient(to bottom, #1f1d2b 0%, #1f1d2b 78%, rgba(31, 29, 43, 0) 100%);
}
@media screen and (max-width: 600px) {
  .content__video-heading {
    padding: 0 0 12px;
    font-size: 24px;
  }
}
.content__video-title {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.content__video-card-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .content__video-card-wrapper {
    grid-template-columns: auto;
  }
}
.content__video-card-l {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 30px;
  overflow: hidden;
  background-color: #2E499D;
  background-image: url("/images/card1.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 45%;
  border-radius: 20px;
  transition: background 0.3s;
}
@media screen and (max-width: 768px) {
  .content__video-card-l {
    background-size: 30%;
  }
}
.content__video-card-title {
  max-width: 7.2em;
  margin: 4px 0 16px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.content__video-card-view {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.content__video-card-author {
  position: relative;
  transition: 0.3s all ease-in-out;
}
@media screen and (max-width: 768px) {
  .content__video-card-author {
    display: none;
  }
}
.content__card-author-img {
  width: 42px;
  height: 42px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7490196078);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content__card-author-icon {
  position: absolute;
  right: 0;
  bottom: 4px;
  display: flex;
  align-items: center;
  width: 8px;
  height: 8px;
  padding: 2px;
  background-color: #fff;
  border: 2px solid #0daabc;
  border-radius: 50%;
}
.content__card-author-svg {
  width: 16px;
  color: #0daabc;
}
.content__video-card-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.content__video-card-author-name {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.content__video-card-author-info {
  font-size: 12px;
  color: #fff;
}
.content__video-card-s {
  position: relative;
  padding: 30px;
  background-color: unset;
  background-image: url("/images/youtubesnip.png");
  filter: saturate(1.4);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 150%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .content__video-card-s {
    background-size: 100%;
  }
}
.content__video-card-s .content__video-card-view {
  flex-direction: column;
  align-items: flex-start;
}
.content__video-card-s h3:hover {
  color: #002244;
}
.content__video-time {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  padding: 4px 8px;
  font-size: 12px;
  color: #fff;
  text-align: end;
  background-color: rgba(21, 13, 13, 0.44);
  border-radius: 4px;
}
.content__video-list {
  display: grid;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 1024px) {
  .content__video-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .content__video-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.content__video-link {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  background-color: #252936;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
}
.content__video-link:hover video {
  transform: scale(1.25);
  transform-origin: center;
}
@media screen and (max-width: 768px) {
  .content__video-link:hover video {
    transform: none;
  }
}
.content__video-link:hover .content__video-card-author {
  bottom: -44px;
  transform: scale(0.6);
}
.content__video-link:hover .content__video-pretitle {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .content__video-link:hover .content__video-pretitle {
    opacity: 1;
  }
}
.content__video-link:hover .content__video-time {
  display: none;
}
@media screen and (max-width: 768px) {
  .content__video-link {
    display: flex;
    align-items: center;
    background-color: initial;
    gap: 16px;
  }
}
.content__video-link video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
  transition: 0.3s transform ease-in-out;
}
@media screen and (max-width: 768px) {
  .content__video-link video {
    border-radius: 20px;
  }
}
.content .vsc-controller {
  display: none;
}
.content__video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.content__video-wrapper .content__video-card-author {
  position: absolute;
  right: 4px;
  bottom: -28px;
}
.content__video-wrapper .content__video-time {
  top: 10px;
  right: 10px;
  bottom: initial;
  display: flex;
  padding: 4px 8px;
  font-size: 10px;
  text-align: end;
  background-color: rgba(21, 13, 13, 0.44);
  border-radius: 8px;
}
@media screen and (max-width: 600px) {
  .content__video-wrapper .content__video-time {
    display: none;
  }
}
.content__video-info {
  padding: 16px 20px;
}
@media screen and (max-width: 768px) {
  .content__video-info {
    padding: 0;
    font-size: 14px;
  }
}
.content__video-info .content__video-card-author-info {
  color: #808191;
}
.content__video-pretitle {
  margin: 0;
  font-size: 0.9em;
  font-weight: 400px;
  color: #808191;
  transition: 0.3s opacity ease-in-out;
}
.content__video-caption {
  margin: 0.6em 0;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin: 0;
  background-color: #262837;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
  }
}
.navbar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #808191;
  text-decoration: none;
}
.navbar__link:hover {
  color: #fff;
}
.navbar__link:hover .navbar__icon {
  color: #6c5ecf;
}
.navbar__icon {
  width: 18px;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #353340;
  border-radius: 10px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 8px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}/*# sourceMappingURL=explore.css.map */